@import "../common/styles/sass/variables.scss";

#menuToggle {
    overflow: hidden;
    position: absolute;
    width: 12%;
    height: 68%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 10px;
}

#menuToggle input {
    display: flex;
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide input */
    z-index: 1; /* top of the menu */
    outline: none;
}

#menuToggle span{
    width: 40px;
    height: 4px;
    margin-bottom: 10px;
    background: $textColor;
    border-radius: 4px;
    -webkit-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -moz-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -ms-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -o-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    transition: all .5s cubic-bezier(.08,.81,.87,.71);
}

#span1 {
    transform-origin: 4px 0px;
}

#span3 {
    transform-origin: bottom right;
}

#menuToggle input:checked ~ #span1 {
    background-color: $primaryColor;
    transform: rotate(45deg) translate(8px);
}
#menuToggle input:checked ~ #span2 {
    background-color: $primaryColor;
    transform: rotate(495deg) translate(4px);
}
#menuToggle input:checked ~ #span3 {
    background-color: $primaryColor;
    transform: rotate(45deg);
    opacity: 0;
}