@import "../common/styles/sass/variables.scss";

.header {
    min-height: 70px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    opacity: 0.9;
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    background-color: $bgColor;

    //background-color: $bgColor;
    //display: flex;
    //justify-content: flex-end;
    //align-items: center;
    //padding: 0;
}