@import "../../../common/styles/sass/variables";

.title {
  margin-bottom: 30px;
  position: relative;

  & h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    color: $textColor;
    padding: 0px 0px 0px 0px;
    text-align: left;
    line-height: 1.3;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: $primaryColor;
    width: 100px;
    height: 2px;
    bottom: -2px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}



