@import "../common/styles/sass/variables";

.mainBlock {
  min-height: 100vh;
  background-color: $bgColor;
  padding: 100px 0;

  .particles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    z-index: 1;
  }

  .MainContainer {
    flex-wrap: wrap;
    z-index: 2;
    margin-top: 20px;

    .text {
      width: 360px;

      .bigText {
        font-family: 'Baloo Tammudu 2', cursive;
        font-size: 40px;
        font-weight: 500;
        color: #ffc576;
        text-align: left;
      }
    }

    .photo {
      width: 360px;
      height: 400px;
      z-index: 2;

      .ava {
        margin: 0;
        max-height: 720px;
        border-radius: 20px;
        max-width: 440px;
        @media (max-width: 898px) {
          max-width: 90%;
          margin: 10px;
          padding: 5px;
        }
        @media (max-width: 380px) {
          max-width: 99%;
        }
      }
    }

    .text h1 {
      font-family: 'Playfair Display', serif;
      font-size: 70px;
      line-height: 1.2;
      color: $textColor;
      margin: -40px 0px 0px 0px;
      padding: 0;
      text-align: left;
      box-sizing: border-box;
      font-weight: 600;
      letter-spacing: 1px;
      hyphens: manual;
      width: min-content;
    }

    .text span {
      font-family: 'Baloo Tammudu 2', cursive;
      box-sizing: border-box;
      font-weight: 500;
      color: $textColor;
      font-size: 28px;
      text-align: left;
      line-height: 1.7em;
      letter-spacing: 0.1px;
      margin: 15px 0 0 0;
      padding: 0;
      text-decoration: underline;
    }
  }

}









