@import "../../../common/styles/sass/variables";

.project {
  width: 450px;
  background-color: $bgSecondColor;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 20px 0;

  .image {
    height: 300px;
    background-color: #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background-color: $bgColor;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.2;
    }

    .viewBtn {
      font-family: 'Playfair Display', serif;
      font-weight: 500;
      background-color: $primaryColor;
      padding: 10px 20px;
      border-radius: 30px;
      border: 2px solid $bgColor;
      line-height: 1.3;
      letter-spacing: 2px;
      position: relative;
      z-index: 1;
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .projectTitle {
      font-family: 'Playfair Display', serif;
      font-size: 20px;
      font-weight: 700;
      color: $textColor;
      margin: 0px 0px 10px 0px;
      padding: 0px 0px 0px 20px;
      transition-duration: 0.3s;
      letter-spacing: 1px;
      box-sizing: border-box;
      line-height: 1.3;
      outline: none;
      display: block;
      margin-block-start: 1.33em;
      margin-block-end: 1.33em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }

    .description {
      font-family: 'Baloo Tammudu 2', cursive;
      font-size: 18px;
      font-weight: 400;
      color: $textColor;
      box-sizing: border-box;
      margin: 0 0 15px;
      outline: none;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      text-align: left;
      line-height: 1.7em;
      letter-spacing: 0.1px;
    }
  }
}

