.project {
    width: 250px;
    background-color: #8d8d9f;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.description{
    text-align: left;
}
.project h3 {
    margin: 0;
    padding-bottom: 20px;
}
.logo {
    height: 187px;
}
.projectNameText {
    font-weight: bolder;
}
.shortDescriptionText{
    font-weight: bold;
}