.projectsBlock {
    height: 100vh;
    background-color: #e1e0ff;
}
/*выравнивает заголовок и содержимое по центру 1) вертикаль 2) начало сверху*/
.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: #bebed9;
 }
/* 2) ширина на весь блок */
.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
