@import "../../common/styles/sass/variables";

.projectsBlock {
  background-color: $bgColor;
  padding: 0;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: flex-start;
      padding-bottom: 70px;
    }
  }
}